@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Pangolin&display=swap');

*{
  box-sizing: border-box;
}

body {
  padding : 0px ;
  margin: 0px ;
  font-size: 20px;
}

div {
  position: relative;
}

.header {
  position: absolute;
  top: 0px;
  font-family: 'Bangers', cursive;
  font-size: 50px;
  color: #4b504c;
}

button {
  position: absolute;
  bottom : 100px ;
}

#root {
  background: #fbe2e5 ;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: auto;
  padding: 1rem 2rem;
  height: auto;
  font-family: 'Bangers', cursive;
  font-weight: 700;
  font-size: 2.5rem;
  // text-shadow: 1px 2px #cfd8dc;
  background: transparent;
  border: 3px solid #4b504c;
  box-shadow: 8px 8px #ff8981;
  cursor: pointer;
  transform: 2s ease;
  &:active {
    position: absolute;
    bottom: 92px;
    box-shadow: none;
    text-shadow: none;
  }
}

#quote-box {
  width: 420px;
  height: 320px;
  font-family: 'Pangolin', cursive;
  color: #4b504c;

  #text{
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    transform: perspective(500px);
    
    .front, .back{
      border-radius: 25px;
      box-shadow:  11px 11px 26px #fabea7, 
             -11px -11px 26px #fbe2e5;
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      overflow: hidden;
    }

    .back{
      padding: 2rem;
      background: #fbe2e5;
      transform: rotateY(180deg);
    }
    
    .front{
      display: flex;
      justify-content: center;
      align-items: center;
      
      >img{
        height: 100%;
      }
    }
  }
  
  &:hover #text{
      transform: rotateY(180deg);
  }
}
